.nav-title {
  font-size: 40px;
  font-weight: 740;
  display: inline-block;
  color: #ffffff;
  padding-right: 30px;
  /* align-items: flex-start; */
  text-align: center;
  font-family: "Museo Slab";
  font-weight: 900;
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  padding-left: 22px;
  width: 33%;
}

.buggie-logo {
  padding-top: 15px;
}

.nav-title-div {
  text-align: center;
  background-size: 325%;
  scroll-padding-top: 10%;
}

.nav-org-list {
  overflow: hidden;
  background-image: url("./HeaderPurple.png");
  background-size: cover;
  align-items: flex-end;
  max-height: 200px;
}

.organization-list-style {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
  cursor: pointer;
  outline: 0;
  transition: all 0.18s ease-in-out;
}

.organization-list-style:hover {
  border-radius: 15px;
  background-color: rgb(149, 124, 200);
  opacity: 78%;
  transform: scale(1.075);
}

.nav-link:hover {
  background-color: rgb(29, 114, 35);
}

.nav-right {
  padding-top: 30px;
  float: right;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15px;
}

.logo-image {
  float: left;
  height: 120px;
  padding-left: 25px;
  padding-bottom: 20px;
}