body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover, .login-button:hover {
  background-color: rgb(44, 145, 47);
}



/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}


.org-input {
    background-color: #d6d0d0;
    width: 30%;
    height: 550px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

 .login-div {
    /* font-family: "Museo Slab";
    color: #14771B;
    size: 18px;
    top: -100%;
    left: 100%;
    position: fixed; */
    /* width: 800px; */
    /* height: 200px; */
    /* z-index: 30; */
    /* top: 50%;
    left: 50%;
    margin: 200px 0 0 320px; */
    /* border: 8px solid, #3CB64A; */
    /* font-size: 120%; */
    /* height:100px;
    width:100px; */
    /* display: inline-block; */
    text-align: center;
  } 

  .username-div {
    /* top: -10%;
    left: -10%; */
    /* margin: -10px 0 0 -600px; */
    display: block;
    /* float: left; */
    /* display: inline-block; */
    /* display: table-cell; */
  }

  .password-div {
    /* top: -20%;
    left: -10%; */
    /* margin: -33px 0 0 -350px; */
    /* float: left; */
    display: block;
    /* display: inline-block; */
    /* display: table-cell; */

  }

  /* login button styling */
  .login-button {
    /* color:  #14771B; */

    border: none;
    font-family: "Museo Slab";
    border-bottom:  1px solid #444; 
    cursor: pointer;
    /* size: 10px; */
    background-color:#14771B;
    border-radius: 10px;
    color: #f8f8f8;
    min-height: 40px;
    min-width: 80px;
    outline:0;
    cursor: pointer;
    /* margin: 70px -8 0 -70px; */
    /* float: left; */
    display: block;
    display: inline-block;

}


  /* styling for up-counter component on login page */
  .counter-style {
    font-family: "Museo Slab";
    color: #3CB64A;
    font-weight: 900;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    padding-left: 15px;
    /* size: 50px; */
  }
  .counter-div {
    position: static;
    /* width: 800px; */
    /* height: 200px; */
    /* z-index: 30; */
    top: 50%;
    left: 50%;
    margin: -45px 0 0 425px;
    /* border: 8px solid, #3CB64A; */
    font-size: 120%;
    width: 40%;
  }

  .chart-title {
    text-align: center;
    font-family: "Museo Slab";
    color: #3CB64A;
    font-weight: 900;
  }


  
