footer {
    margin-top: 1px;   
}
.footer-image{
    margin: -68px 0 0 255px;
    position: absolute;
    left: 0px;
    top: 350px;
    z-index: -1;
}
.footer-copy {
    left: 0px;
    margin: 125px 0 0 450px;
    z-index: -1;
}
.footer-total{
  margin-bottom: -300%;
}
